
:root {
    --available-bg: #28a745;
    --not-available-bg: #dc3545;
    --mixed-bg: #ffc107;
    --hidden-bg: rgba(235, 235, 236, 0.5); /*rgba(128, 128, 128, 0.5);*/
    --default-bg: rgb(235, 235, 236);
    --active-bg: #ffffff;
  }

.day {
    background-color: var(--bg-default);
    display: block;
    width: 100px; /*zmien pozniej*/
    height: 100px;
    border: solid 1px #000000;
    border-radius: 8px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 8px;
}

.bgAvailable {
    background-color: var(--available-bg);
  }
  
  .bgNotAvailable {
    background-color: var(--not-available-bg);
  }
  
  .bgMixed {
    background-color: var(--mixed-bg);
  }
  
  .bgHidden {
    background-color: var(--hidden-bg);
  }

  .bgActive {
    background-color: var(--active-bg);
  }

  .opacityHidden {
    opacity: 0.3;
  }

.number {
    position: absolute;
    bottom: 7px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    background-color: #ccf5cc; /* light green */
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
    padding: 8px;
}
  
.circleRow {
    display: flex;
    gap: 5px; /* space between circles */
    flex-wrap: wrap;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
}

.circle.available {
    background-color: var(--available-color);
  }
  
  .circle.not-available {
    background-color: var(--not-available-color);
  }

